@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Ranchers&family=Slackey&display=swap');
body {
  background-image: url('/images/404.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}

header, .blog:not(:last-child) {
  z-index: 1;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5vw;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

h1{
font-family: Ranchers, "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande";
font-size:40px;

}
li{
  font-family: "Crafty Girls", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande";
  font-size: 20px;
  font-weight: bold;
}

.profileImage{
  max-width: 150px;
  padding: 10px;
  border-radius: 20px;


    margin: auto;
      /* margin-right: auto; */
}

.mainTitle{
font-family:Ranchers, "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande";

}

/* .myname{
height:auto;
background-repeat: no-repeat;
} */
.card{
  border-radius: 10px;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selector-for-some-widget {
  box-sizing: content-box;
}